.red{
    background-color: red;
    color: white;
    background-image: ;
    border
}
#head{
    background-color: brown;
}
    /* .one{
        background-color: rebeccapurple;text-transform: none;
        
    } */